div.dedication {
  display: block;
  text-align: center;
  font-style: italic;
  font-weight: bold;
  margin: 25%;
  page-break-inside: avoid;
}
p.dedication {
  font-size: 1.2em;
  margin: 0.25em 0 0 0;
  text-align: center;
  font-style: italic;
  font-weight: bold;
}